.navbar {
    height: 70px;
}

.logoCodo {
    width: 90px;
}

.conf {
    color: white;
}

.banner {
  /*background-image: url("https://i.ibb.co/grq9FMX/ba1.jpg"); */
  background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,0.4)), url("img/ba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13vw 7vw 15vw 40%;
}

.banner button {
  font-weight: 500;
}

.contenido-banner {
  text-align: right;
  color: white;
  font-weight: 600;
  font-size: 1.6vw;
}

.contenido-banner button {
  margin: 1vw;
}

.contenido-banner p:first-child {
  font-size: 3vw;
}

/* tarjetas ----------------------------------- */

.tarjetas-titulo {
  text-align: center;
}

.tarjetas-titulo p:first-child {
  font-size: 1vw;
  margin-top: 1.5vw;
  margin-bottom: -.5vw;
}

.tarjetas-titulo p:nth-child(2) {
  font-size: 2.5vw;
  font-weight: 500;
}

.tarjetas {
  margin: -2vw 15% 2vw 15%;
  
}

.tarjetas div {
  margin: 1vw;
  padding: 0;
}

.tarjetas p {
  font-size: 1vw;
}

.tarjetas button {
  font-size: 1vw;
  font-weight: bold;
  padding: 0 0.2vw 0 0.2vw;
}

.tarjetas .btn-info {
  color: white;
} 

/* card ---------------------------------------- */

.tarjeta2 {
  color: white;
  border: none;
}

.tarjeta2 p {
  font-size: 1vw;
}

.tarjeta2 button {
  font-size: 1vw;
  padding: .5vw .8vw .5vw .8vw;
}

/* area de texto ------------------------------- */

.area-texto {
  margin: 2% 20%; 
}

.texto-titulo {
  text-align: center;
}

.area-texto .texto-titulo p:nth-child(2) {
  font-size: 2.5vw;
  font-weight: 500;
  margin-top: -2vw;
}

.area-texto .texto-titulo p:nth-child(3) {
  margin-top: -1vw;
}

.area-texto p {
  font-size: 1vw;
}

.area-texto button {
  width: 100%;
}

/* footer -------------------------------------- */

footer {
  background-color: #005b7f;
  color: white;
}

.pie {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

footer a {
  vertical-align: middle;
}

footer a:link {
  text-decoration: none;
  color: white;
}

/* ---- media queries -------------------------------------------------------------------------*/

@media (max-width: 575.98px) {
  
  .navbar {
    height: 60px;
  }
  
  .banner {
    padding: 10vw 5vw 10vw 25%;
  }
  
  .contenido-banner {
    font-size: 2vw;
  }
  
  .contenido-banner p:first-child {
  font-size: 4vw;
  }
  
  .tarjetas {
    margin: -2vw 1% 2vw 1%; 
  }
  
  .tarjetas p {
    font-size: 2vw;
  }
  
  .tarjetas-titulo p:first-child {
    font-size: 1.5vw;
  }
  
  .tarjetas-titulo p:nth-child(2) {
    font-size: 3.5vw;
  }
  
  .tarjetas button {
    font-size: 1.5vw;
  }
  
  .tarjeta2 p {
    font-size: 2vw;
  }
  
  .tarjeta2 button {
    font-size: 2vw;
  }
  
  .area-texto p {
    font-size: 1.5vw;
  }
  
  .area-texto .texto-titulo p:nth-child(2) {
    font-size: 3.5vw;
    margin-top: -3vw;
  }
  
  footer {
    font-size: 2vw;
  }

}

/* ------------------------------------------------------------------------------------------ */