.navbar {
  height: 70px;
}

.logoCodo {
  width: 90px;
}

.conf {
  color: white;
}

.item-nav {
  display: inline;
  margin-inline: 1vw;
}

.item-nav a:link {
  text-decoration: none;
  color: white;
}

.item-nav a:hover {
  background-color: rgb(78, 77, 77);
}

.items-der {
  background-color: #212529;
  height: 60px;
  display: flex;
  align-items: center;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url("img/ba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13vw 7vw 15vw 40%;
}

.banner button {
  font-weight: 500;
}

.contenido-banner {
  text-align: right;
  color: white;
  font-weight: 600;
  font-size: 1.6vw;
}

.contenido-banner button {
  margin: 1vw;
}

.contenido-banner p:first-child {
  font-size: 3vw;
}

/* tarjetas ----------------------------------- */

.tarjetas-titulo {
  text-align: center;
}

.tarjetas-titulo p:first-child {
  font-size: 1vw;
  margin-top: 1vw;
  margin-bottom: -.5vw;
}

.tarjetas-titulo p:nth-child(2) {
  font-size: 2.5vw;
  font-weight: 500;
}

.tarjetas {
  margin-top: -2vw;
  margin-right: 10%;
  margin-bottom: 2vw;
  margin-left: 10%;
}

.tarjetas div {
  margin: 1vw;
  padding: 0;
}

.tarjetas p {
  font-size: 1vw;
}

.tarjetas button {
  font-size: 1vw;
  font-weight: bold;
  padding: 0 0.2vw 0 0.2vw;
}

.tarjetas .btn-info {
  color: white;
}

/* card ---------------------------------------- */

.tarjeta2 {
  color: white;
  border: none;
}

.tarjeta2 p {
  font-size: 1vw;
}

.tarjeta2 button {
  font-size: 1vw;
  padding: .5vw .8vw .5vw .8vw;
}

/* area de texto ------------------------------- */

.area-texto {
  margin: 2% 20%;
}

.texto-titulo {
  text-align: center;
}

.area-texto .texto-titulo p:nth-child(2) {
  font-size: 2.5vw;
  font-weight: 500;
  margin-top: -2vw;
}

.area-texto .texto-titulo p:nth-child(3) {
  margin-top: -1vw;
}

.area-texto p {
  font-size: 1vw;
}

.area-texto button {
  width: 100%;
}

/* footer -------------------------------------- */

footer {
  background: rgb(28,54,67);
  background: linear-gradient(90deg, rgba(28,54,67,1) 35%, rgba(30,83,114,1) 100%);
  color: white;
  font-size: 1.5vw;
}

.pie {
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  align-items: center;
}

footer a {
  vertical-align: middle;
}

footer a:link {
  text-decoration: none;
  color: white;
}

/* ---- media queries ---------------------------------------------------------------*/

@media (max-width: 575.98px) {

  .item-nav {
    margin-inline: 2%;
    margin-top: 2%;
    font-size: 2vw;
  }

  .banner {
    padding: 27vw 5vw 5vw 27%;
  }

  .contenido-banner {
    font-size: 2vw;
  }

  .contenido-banner p:first-child {
    font-size: 4vw;
  }

  .contenido-banner button {
    font-size: 2vw;
  }

  .tarjetas {
    margin-top: -2vw;
    margin-right: 1%;
    margin-bottom: 2vw;
    margin-left: 1%;
  }

  .tarjetas p {
    font-size: 2vw;
  }

  .tarjetas-titulo p:first-child {
    font-size: 1.5vw;
  }

  .tarjetas-titulo p:nth-child(2) {
    font-size: 3.5vw;
    margin-bottom: -2vw;
  }

  .tarjetas button {
    font-size: 1.5vw;
  }

  .card-body h5 {
    font-size: 4.5vw;
  }

  .tarjeta2 p {
    font-size: 2vw;
  }

  .tarjeta2 button {
    font-size: 2vw;
  }

  .area-texto p {
    font-size: 1.5vw;
  }

  .area-texto .texto-titulo p:nth-child(2) {
    font-size: 3.5vw;
    margin-top: -4vw;
  }

  .area-texto .texto-titulo p:nth-child(3) {
    margin-top: -4vw;
  }

  .form-area-texto {
    margin-top: -2vw;
    font-size: 1vw;
  }

  .form-area-texto input {
    font-size: 2vw;
    margin-bottom: -3vw;
  }

  .form-area-texto textarea {
    font-size: 2vw;
  }

  .form-area-texto button {
    font-size: 2vw;
    margin-top: -5vw;
  }

}

/* --------------------------------------------------------------------------------- */